<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
    <h1>Welcome to <%= title %></h1>
      
    <p>The website where you can create your own games</p>
  
</html>